# Virtual environments
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Build folders
build/
dist/
*.egg-info/

# Test and coverage output
.pytest_cache/
.coverage
htmlcov/

# Editor files
.idea/
.vscode/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db
